<div
  #containerRecording
  style="
    border: 1px solid white;
    height: 100px;
    margin-top: 100px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  "
  *ngIf="recording"
>
  <ng-container *ngFor="let waveSpike of waveSpikes">
    <div
      *ngIf="waveSpike.wave.direction.includes('E')"
      class="wave-base wave-e"
      [style.left]="waveSpike.timePercentage * 100 + '%'"
    ></div>
    <div
      *ngIf="waveSpike.wave.direction.includes('W')"
      class="wave-base wave-w"
      [style.left]="waveSpike.timePercentage * 100 + '%'"
    ></div>
  </ng-container>

  <div
    style="position: absolute; top: 0px; height: 50px; border: 1px solid white"
    [style.left]="getCurrenTimePercentage() * 100 + '%'"
  ></div>

  <div
    style="position: absolute; top: 0px; height: 50px; border: 1px solid white"
    [style.left]="getCurrenTimePercentage(2) * 100 + '%'"
  ></div>

  <div style="color: white; margin-top: 50px" *ngIf="recording && recording.isPlaying">
    {{ getTime().now }} / {{ getTime().dtRecording }}
  </div>
</div>
