.wave-ew {
  corner-shape: square bevel bevel square;
  border-color: red red blue blue;
  border-width: 15px;
}

.wave-base {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-style: solid;
  box-sizing: border-box;
}

.wave-e {
  corner-shape: square bevel bevel round;
  border-color: rgb(255, 0, 208);
  border-width: 10px 0px 0px 0px;
}

.wave-w {
  corner-shape: square bevel bevel square;
  border-color: rgb(0, 229, 255);
  border-width: 0px 0px 10px 0px;
}
