.details-summary {
  border: 1px solid #ccc;
  border-radius: 5px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  // background-color: #ccc;
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 5px;
}

.details-summary-open {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px solid #ccc;
}

.details-content {
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
  border-top: 0px solid #ccc;
  border-radius: 0px 0px 5px 5px;
  interpolate-size: allow-keywords;
}

.details-content-hidden {
  height: 0px !important;
  border: 0px solid #ccc;
}
