<div class="container">
  <div class="beatclicker-devices-container">
    <ng-container *ngFor="let device of beatclickers">
      <div style="color: white">{{ device.name }} ({{ device.id }})</div>
      <div class="beatclicker-device-container">
        <ng-container *ngFor="let light of device.lights">
          <button
            *ngIf="light.right"
            (pointerdown)="handleMouseDown($event)"
            (pointerup)="handleMouseUp($event)"
          ></button>
          <div>
            <div
              class="light"
              [style.--light-level]="light.level"
              [style.--light-color-raw]="light.colorRaw"
            ></div>
            {{ light.x }}
            <!-- {{ light.index }} -->
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div
    class="reclicker-container"
    style="
      color: white;
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin: 50px;
      border-width: 0px;
    "
  >
    <div *ngFor="let device of reclickers">
      <div class="beatclicker-device-container" style="border-width: 0px">
        <ng-container *ngFor="let light of device.lights">
          <div style="border-width: 0px">
            <div
              class="light"
              [style.--light-level]="light.level"
              [style.--light-color-raw]="light.colorRaw"
            ></div>
            {{ light.index }}
          </div>
        </ng-container>
      </div>

      <div style="width: 200px">{{ device.name }} ({{ device.id }})</div>
    </div>
  </div>

  <div style="grid-area: south">
    <br />
    <app-recording-graph [recording]="recording"></app-recording-graph>
  </div>
</div>
